body {
    color : #343434
}

#header {
    background-color: rgb(16, 16, 16);
    color: white;
}

#name {
    color: white;
}
.CV {
    background-color: skyblue;
}

.Professional {
    background-color: blanchedalmond;
}

.Education {
    background-color: lightgray;
}

.courses {
    background-color: lightcoral;
}

.internships {
    background-color: lightpink;
}

.project {
    background-color: lavender;
}

.Information {
    background-color: beige;
}

.extrainfo {
    background-color: aqua;
}

.declaration {
 background-color: darkgray;
}